/* src/styles/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);  /* Semi-transparent black overlay */
  z-index: 9999;
}

.modal {
  background: rgb(254, 253, 253);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

button {
  background-color: #f26b6b;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.loginbutton{
  background-color: #68ab31;
  color: white;
  padding: 10px;
  width: 100px;
  margin:15px;
  margin-left: 125px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;

}

.loginbutton:hover{
  background-color: green;

}

.link {
  color: #f26b6b;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

.close {
  color: #333;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}
/* at the very top of Modal.css */
.submit:hover{
  background-color:green ;

}
